
*{
    font-family: 'Rubik';
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    border-width: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

header{
    position: fixed;
    width: 100%;
    z-index: 900;
    background: linear-gradient(90deg, rgba(240,171,131,1) 86%, rgba(255,219,105,1) 100%);
    height: 80px;
}

.cont_header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo_header{
    display: flex;
    width: 375px;
}

.logo_header img{
    width: 100%;
}

#navbarNav{
    display: flex;
    justify-content:flex-end;
    background: rgba(240,171,131,1);
    padding-top: 80PX;
    width: 100%;
}

#navbarNav .navbar-nav.center-content{
    justify-content: space-around;
}

#navbarNav .navbar-nav{
    DISPLAY: flex;
    JUSTIFY-CONTENT: space-between;
    WIDTH: 100%;
    PADDING: 0 12PX;
    list-style-type: none;
}

#navbarNav .navbar-nav li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

body{
    margin: 0;
}

.container{
    padding-top: 95px;
}

.container.menu{
    padding: 0;
}

.form_login{
    width: 260px;
    padding: 20px 12px;
    height: 400px;
    border: 2px solid #cdcdcd;
    border-radius: 15px;
    margin: auto;
}

.form_edit{
    width: 260px;
    padding: 20px 12px;
    height: 550px;
    border: 2px solid #cdcdcd;
    border-radius: 15px;
    margin: auto;
}

.error{
    color: red;
    font-size: 0.8em;
    margin-bottom: 12px;
}

.valid{
    color: green;
    font-size: 0.8em;
    margin-bottom: 12px;
}

.logo_head{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.media{
    max-width: 85px;
}
.media a{
    display: flex;
    width: 100%;
}
.media a img{
    width: 100%;
}

.btn_cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label{
    font-size: .875rem;
    margin-bottom: 5px;
    font-weight: normal;
    color: #4d4d4d;
    cursor: pointer;
}

.form button{
    background: linear-gradient(90deg, rgba(255,154,179,1) 0%, rgba(255,219,105,1) 100%);
    border: none;
    text-transform: uppercase;
    width: 130px;
    padding: 12px 15px;
    border-radius: 25px;
    color: white;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

.form button:hover{
    text-decoration: underline;
    border: none;
}


.form-group input{
    font-size: 1rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #bfbfbf ;
}

.form-group input:hover{
    border-color:#4d4d4d;
}

.form-group input:focus{
    display: inline-block;
    vertical-align: middle;
    width: 95%;
    padding: 4px;
    margin-bottom: 1.2;
    background-color: white;
    border: 1px solid #bfbfbf;
    color: #4d4d4d;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}

.filters .head_title{
    text-transform: uppercase;
    padding: 5px 15px;
    border-bottom: 0.5px solid #cecece;
}

.filter_by{
    list-style: none;
    padding: 5px 15px;
    margin: 0;
}

.filter_by .categoria{
    margin-bottom: 12px;
}

.filter_by .categoria a{
    color: #000000;
}

.dash{
    display: flex;
}

.dash .narrow{
    width: 280px;
    border: 0.2px solid #cbcbcb;
    border-radius: 12px;
    padding: 15px 0;
    margin: 15px;
}

.dash .narrow .searchBar{
    display: flex;
    justify-content: center;
}

.dash .narrow input {
    width: calc(100% - 35px);
    padding: 8px 5px;
    border: solid 0.5px #cbcbcb;
    outline: none;
}

.dash  .movie_list{
    width: calc(100% - 275px);
    position: relative;
    transition: all .3s ease;
}

.dash .movie_list .catalogo{
    list-style: none;
    
}

.dash .movie_list .catalogo li{
    transform: translateY(0);
    opacity: 1;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    margin-bottom: 50px;
}

.dash .movie_list .catalogo li:nth-child(1) {
    transition-delay: 50ms;
}

.catalogo.cine{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.catalogo.cine .cinema{
    display: inline-block;
}

.catalogo.cine .cinema .delete{
    display: flex;
    justify-content: center;
    margin: 5px 0;
    background: transparent;
}

.catalogo.cine .cinema .delete button{
    text-decoration: none;
    background-color: transparent;
    border: none;
}



/* -------------------- FOOTER ------------------------------- */

.footer{
    padding: 10px 0;
    margin-bottom: 0px !important;
}

.footer .sociales {
    height: 100%;
    padding: 30px 0;
    list-style: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.125);
    padding: 2rem 0;
    margin-bottom: 1rem;
}
.footer .sociales ul{
margin: 0;
    padding: 0;
}

.footer .sociales ul li{
    display: inline-block;
    padding: 0 20px;
}


.footer .sociales ul img{
    width: 30px;
    height: 30px;
}

.footer .texto{
    text-align: center;
    color: #7b8591;
    line-height: 2;
}

.footer .texto{
    text-align: center;
    color: #7b8591;
    line-height: 2;
}

.footer .texto a{
    color: #7b8591;
    text-decoration: none;
}

.footer .texto a:hover{
    text-decoration: underline;
}

.footer .sello {
    border-top: 1px solid rgba(0,0,0,0.125);
}

.footer .sello a{
    color: #7b8591;
    font-size: .75rem;
    text-decoration: none;
    DISPLAY: flex;
    ALIGN-ITEMS: center;
    JUSTIFY-CONTENT: center;
}

.footer .sello a:hover{
    text-decoration: underline;
}

.footer .sello a img{
    width: 180px;
    margin-right: 5px;
}

/* -------------------- DASHBOARD ------------------------------- */


.card{
    width: 180px;
    display: block;
    border: 0.5px solid #ababab;
    padding: 5px;
    border-radius: 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.card .title{
    margin: 5px 0;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.card .title p{
    margin: 0;
}
.txtContainer{
    margin: 0;
    text-align: center;
}

.title.center{
    display:flex;
    justify-content:center;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
